<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include necessary head content -->

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-5">
    <h2>History</h2>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>Field</th> -->
                <th>Rate Type</th>
                <th>Complexity</th>
                <th>Num Pages</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody id="history-table-body">
            <!-- History data will be inserted here using jQuery -->
        </tbody>
    </table>
</div>

<script>
  $(document).ready(function() {
      var historyData = {{ history_data|safe }};

      // No need to parse the JSON data as it's already a string
      var parsedHistoryData = historyData;

      // Populate the table
      populateTable(parsedHistoryData);

      function populateTable(historyData) {
          var tableBody = $("#history-table-body");

          // Clear existing rows
          tableBody.empty();

          // Iterate through history data and append rows to the table
          $.each(historyData, function(index, historyItem) {
              var row = "<tr>" +
                //   "<td>" + historyItem.fields.field + "</td>" +
                  "<td>" + historyItem.fields.hist_rate_type + "</td>" +
                  "<td>" + historyItem.fields.hist_complexity+ "</td>" +
                  "<td>" + historyItem.fields.hist_num_pages + "</td>" +
                  "<td>" + historyItem.fields.hist_rate + "</td>" +
                  "</tr>";
              tableBody.append(row);
          });
      }
  });
</script>
</body>
</html>